.app{
  margin: 100px auto;
 
  width: 450px;
}
.form{
  display: flex;
}
.form input{
  flex:1;
  border:1px solid #E5E5E5;
  margin-bottom: 15px;
  border-radius: 3px;
  padding-left: 15px;
  padding: 15px 30px;
}
.form button{
  background-color: #634BF5;
  color: white;
  padding: 15px 30px;
  border:none;
  margin-left: 15px solid #E5E5E5;
  margin-bottom: 15px;
  border-radius: 3px;

}
.drop {
  margin-top: 150px;
  font-size: 30px;
  width: 450px;
  text-align: center;
  
}
.form button:disabled {
  border: none;
  padding: 10px;
  color: white;
  background-color: grey;
  width: 100%;
  cursor: not-allowed;
  width: 170px;
}
.drop_counter{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #7b6ae9;
  text-align: center;
  line-height: 150px;
  margin: auto;
}
.header{
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #634BF5;



}
.link_palette, .link_timer{
    text-decoration: none;
}
.color_container{
display: flex;
flex-wrap: wrap;
 justify-content: space-between;

}
.color_item{
margin-top: 5px;
  height: 80px;
  width: 110px;
  display: flex;
flex-direction: column;
 align-items: end;
 
 
}
.delete_icon{
  cursor: pointer;
  
}
.button{
  background-color: #634BF5;
  color: white;
  padding: 15px 30px;
  border:none;
  margin-left: 15px solid #E5E5E5;
  margin-bottom: 15px;
  border-radius: 3px;
  width: 180px;
 
}
